section.our_works {
    margin: auto;
    width: 66%;
}

.card-md-4 {
    margin: 1pc 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: left;
    -webkit-box-pack: justify;
    -ms-flex-line-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.art-md {
    max-width: 90vw;
    width: 30%;
    background: transparent;
    text-align: center;
    padding: 0 0;
    border-radius: 10px;
    box-shadow: none;
    font-size: 10pt;
    word-break: break-word;
    text-shadow: none;
    color: #f2f3f5;
    position: relative;
    margin: 1pc 18px 2pc;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.art-md:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    box-shadow: none;
}

.art-md p {
    font-size: 0;
}

.art-md div {
    max-height: 45vh;
    min-height: 25vh;
    overflow: hidden;
}

.art-md:hover p {
    position: absolute;
    background: rgba(9, 98, 117, 0.47);
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-item-align: center;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-size: 13pt;
    font-weight: bold;
    padding: 10px;
}

.art-md:hover p .follow_link {
    position: relative;
    -webkit-animation: followLink linear 2s infinite alternate;
    /*Safari4.0-8.0*/
    animation: followLink linear 1s infinite alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes followLink {
    from {
        left: 0px;
        top: 0px;
        opacity: 1;
    }
    to {
        left: 30px;
        top: 0px;
        opacity: 0.2;
    }
}


/* Standard syntax */

@keyframes followLink {
    from {
        left: 0px;
        top: 0px;
        opacity: 1;
    }
    to {
        left: 30px;
        top: 0px;
        opacity: 0.2;
    }
}

.art-md:hover,
.art-md a:hover {
    color: #fff;
    /* text-shadow: none; */
    overflow: hidden;
}

.art-md:focus,
.art-md a:focus,
.art-md:active,
.art-md a:active {
    color: whitesmoke;
    text-decoration: none;
}

.art-md img {
    width: 100%;
}

.art-md h5 {
    position: absolute;
    bottom: -9px;
    background: white;
    text-shadow: none;
    font-weight: 600;
    color: #007791;
    width: 100%;
    padding: 26px;
    box-shadow: 0 2px 60px #8e979e;
    overflow: hidden;
    font-size: 13pt;
}

.works_title_container {
    margin-top: 9%;
}

.works_title_container p,
.works_title_container h3 {
    padding: 0 15px;
}

.works_title_container {
    margin-top: 9%;
    margin-bottom: 2%;
    color: #8999a7;
    text-align: center;
}

@media screen and (min-width:320px) {
    .card-md-4 {
        margin: 1pc 0 0;
    }
    .col-md-4 {
        flex: -8 0 33.333333%;
        max-width: 100%;
    }
    .art-md {
        width: 98%;
    }
    section.our_works {
        width: 97%;
    }
    .art-md div {
        max-height: 100vh;
    }
}

@media screen and (min-width:768px) {
    section.our_works {
        width: 97%;
    }
    .col-md-4 {
        flex: 8 0 33.333333%;
        max-width: 59.333333%;
    }
    .art-md {
        width: 45%;
    }
    .art-md div {
        max-height: 100vh;
    }
}

@media screen and (min-width:1024px) {
    .card-md-4 {
        margin: 0pc 0 1pc;
    }
    .art-md {
        width: 40%;
    }
    section.our_works {
        width: 77%;
    }
    .art-md div {
        max-height: 100vh;
    }
}

@media screen and (min-width:1440px) {
    .card-md-4 {
        margin: 0pc 0 1pc;
    }
    .art-md {
        width: 45%;
    }
    section.our_works {
        width: 77%;
    }
    .art-md div {
        max-height: 100vh;
    }
}